:root {
  --color-peer-1: #c84741; /* hue 26.2 */
  --color-peer-2: #b85900; /* hue 51.95 */
  --color-peer-3: #797600; /* hue 107.8 */
  --color-peer-4: #428100; /* hue 134.8 */
  --color-peer-5: #00816e; /* hue 177.7 */
  --color-peer-6: #00817f; /* hue 192.7 */
  --color-peer-7: #007f8c; /* hue 207.5 */
  --color-peer-8: #007e9c; /* hue 222.45 */
  --color-peer-9: #007aaf; /* hue 237.2 */
  --color-peer-10: #5c68d5; /* hue 274.9 */
  --color-peer-11: #9159c5; /* hue 305.6 */
  --color-peer-12: #b24da2; /* hue 333.85 */
}
.dark {
  --color-peer-1: #ff786f;
  --color-peer-2: #fe8b3a;
  --color-peer-3: #fdfa66;
  --color-peer-4: #b5ff8a;
  --color-peer-5: #05ffdc;
  --color-peer-6: #00fdf9;
  --color-peer-7: #00e8ff;
  --color-peer-8: #00cefe;
  --color-peer-9: #00b4ff;
  --color-peer-10: #7d8eff;
  --color-peer-11: #c68eff;
  --color-peer-12: #fe94eb;
}
