:root {
  --color-peer-1: #bb4500; /* orange */
  --color-peer-2: #757500; /* olive */
  --color-peer-3: #008370; /* teal */
  --color-peer-4: #007ba2; /* blue */
  --color-peer-5: #625fcd; /* violet */
  --color-peer-6: #a64297; /* pink */
}
.dark {
  --color-peer-1: #ff9970; /* orange */
  --color-peer-2: #bfbf16; /* olive */
  --color-peer-3: #00d5b7; /* teal */
  --color-peer-4: #35c7ff; /* blue */
  --color-peer-5: #aaafff; /* violet */
  --color-peer-6: #f68ce3; /* pink */
}
