<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sudoku Solver</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="static/style.css" />

        <script
            src="https://kit.fontawesome.com/f3238cd59c.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <main>
            <h1 class="title">Sudoku</h1>

            <div class="board">
                <table id="board">
                    <tbody></tbody>
                </table>
            </div>

            <div class="controls">
                <div class="board-size select">
                    <h2>Board Size</h2>
                    <select id="board-size-select">
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="difficulty select">
                    <h2 id="difficulty-header">Difficulty</h2>
                    <select id="difficulty-select">
                        <option value="EASY" selected>Easy</option>
                        <option value="MEDIUM">Medium</option>
                        <option value="HARD">Hard</option>
                    </select>
                </div>

                <button id="randomize-btn" class="btn btn-secondary">Randomize</button>
                <button id="clear-btn" class="btn btn-secondary">Clear</button>
            </div>

            <button class="btn btn-primary solve" id="solve-btn">Solve</button>
        </main>
    </body>

    <script defer type="text/javascript" src="static/script.js"></script>
</html>
